<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.eptsreports</package>
	<author>Jembi Health Systems NPC</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.eptsreports.EptsReportsActivator</activator>

	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>1.11.5</require_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.eptsreports.extension.html.AdminList</class>
	</extension>

	<require_modules>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
		<require_module version="${serializationVersion}">org.openmrs.module.serialization.xstream</require_module>
		<require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
		<require_module version="${htmlWidgetsVersion}">org.openmrs.module.htmlwidgets</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>


	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->


	<!-- Required Privileges
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<globalProperty>
		<property>@MODULE_ID@.startDrugsConceptUuid</property>
		<defaultValue>e1d9ef28-1d5f-11e0-b929-000c29ad1d07</defaultValue>
		<description>
			UUID for the INICIAR concept
		</description>
	</globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.historicalStartDateConceptUuid</property>
        <defaultValue>e1d8f690-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the DATA DE INICIO DO TARV concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.yesConceptUuid</property>
        <defaultValue>e1d81b62-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the SIM concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.sTarvAdultoSeguimentoEncounterTypeUuid</property>
        <defaultValue>e278f956-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the S.TARV: ADULTO SEGUIMENTO encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.sTarvPediatriaSeguimentoEncounterTypeUuid</property>
        <defaultValue>e278fce4-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the S.TARV: PEDIATRIA SEGUIMENTO encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.arvPlanConceptUuid</property>
        <defaultValue>e1d9ee10-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the GESTÃO DE TARV concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.artProgramUuid</property>
        <defaultValue>efe2481f-9e75-4515-8d5a-86bfde2b5ad3</defaultValue>
        <description>
            UUID for the SERVICO TARV - TRATAMENTO program
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.sTarvFarmaciaEncounterTypeUuid</property>
        <defaultValue>e279133c-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the S.TARV: FARMACIA encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.transferFromOtherFacilityConceptUuid</property>
        <defaultValue>e1da7d3a-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the TRANSFERIDO DE concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.tuberculosisTreatmentPlanConceptUuid</property>
        <defaultValue>e1d9fbda-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the TRATAMENTO DE TUBERCULOSE concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.tbProgramUuid</property>
        <defaultValue>142d23c4-c29f-4799-8047-eb3af911fd21</defaultValue>
        <description>
            UUID for the Programa de Combate a Tuberculose
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.sTarvAdultoInitialAEncounterTypeUuid</property>
        <defaultValue>e278f820-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the S.TARV: ADULTO INICIAL A encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.sTarvPediatriaInicialAEncounterTypeUuid</property>
        <defaultValue>e278fa8c-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the S.TARV: PEDIATRIA INICIAL A encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.hivViralLoadConceptUuid</property>
        <defaultValue>e1d6247e-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the HIV CARGA VIRAL concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.priorDeliveryDateConceptUuid</property>
        <defaultValue>e1e765c2-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the Prior Delivery Date concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.criteriaForArtStartUuid</property>
        <defaultValue>607315ab-2f52-4d9f-b28a-6383b9a5f9c4</defaultValue>
        <description>
            UUID for the CRITÉRIO PARA INICIO DE TRATAMENTO ARV concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.returnVisitDateForArvDrugConceptUuid</property>
        <defaultValue>e1e2efd8-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the DATA DO PROXIMO LEVANTAMENTO DE ARV concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.ptvEtvProgramUuid</property>
        <defaultValue>06057245-ca21-43ab-a02f-e861d7e54593</defaultValue>
        <description>
            UUID for the PTV program
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.misauLaboratorioEncounterTypeUuid</property>
        <defaultValue>e2790f68-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the MISAU: LABORATORIO program
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.pregnantConceptUuid</property>
        <defaultValue>e1e056a6-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the GESTANTE concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.gestationConceptUuid</property>
        <defaultValue>e1cdd58a-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the GESTACAO concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.numberOfWeeksPregnantConceptUuid</property>
        <defaultValue>e1da0788-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the SEMANAS DE GESTAÇÃO concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.pregnancyDueDateConceptUuid</property>
        <defaultValue>e1dca8ee-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the DATA GRAVIDEZ concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.breastfeedingConceptUuid</property>
        <defaultValue>bc4fe755-fc8f-49b8-9956-baf2477e8313</defaultValue>
        <description>
            UUID for the BREASTFEEDING concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.returnVisitDateConceptConceptUuid</property>
        <defaultValue>e1dae630-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the DATA DE PROXIMA CONSULTA concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.hivCareProgramUuid</property>
        <defaultValue>7b2e4a0a-d4eb-4df7-be30-78ca4b28ca99</defaultValue>
        <description>
            UUID for the Programa de seguimento e cuidado aos pacientes HIV+ program
        </description>
    </globalProperty>
    <globalProperty>
        <property>@MODULE_ID@.artSecondLineSwitchUuid</property>
        <defaultValue>7f367983-9911-4f8c-bbfc-a85678801f64</defaultValue>
        <description>
            UUID for the SECOND LINE concept
        </description>
    </globalProperty>
    <globalProperty>
        <property>@MODULE_ID@.regimeUuid</property>
        <defaultValue>e1d83e4e-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the REGIME concept
        </description>
    </globalProperty>

    <globalProperty>
        <property>@MODULE_ID@.restartConceptUuid</property>
        <defaultValue>e1de1bfc-1d5f-11e0-b929-000c29ad1d07</defaultValue>
        <description>
            UUID for the REINICIAR concept
        </description>
    </globalProperty>

	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>
	</dwr>
	-->

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<messages>
		<lang>pt</lang>
		<file>messages_pt.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

